include *.txt
include README.rst
include branca/_cnames.json
include branca/_schemes.json
include branca/scheme_info.json
include branca/scheme_base_codes.json

recursive-include branca *.py
recursive-include branca *.js
recursive-include branca/plugins *
recursive-include branca/templates *
include versioneer.py
include branca/_version.py
